#breadcrumb {
    --bs-breadcrumb-divider: ">";
}

#breadcrumb ol.breadcrumb {
    margin-bottom: 0;
}

#products-table {
    min-width: 500px;
}

.products-wall {
    &::-webkit-scrollbar {
        height: 4px;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f0f0f0;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #cacaca;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #a5a5a5;
    }
    &::-webkit-scrollbar-thumb:active {
        background-color: gray;
    }
}

.card {
    --margin-size: 1rem;
    width: calc(50% - var(--margin-size));
}

/* sm */
@media (min-width: 576px) {
    .card {
        width: calc(33% - var(--margin-size));
    }
}

/* md */
@media (min-width: 768px) {
}

/* lg */
@media (min-width: 992px) {
    .card {
        width: calc(25% - var(--margin-size));
    }

    .products-wall {
        &::-webkit-scrollbar {
            height: 6px;
        }
    }

    #nav-search {
        width: 10rem;
    }
}

/* xl */
@media (min-width: 1200px) {
    .card {
        width: calc(20% - var(--margin-size));
    }

    #nav-search {
        width: auto;
    }
}

/* xxl */
@media (min-width: 1400px) {
}
